[Unit]
Description=ACPI Mode Detection Service

[Service]
User=root
WorkingDirectory=/opt/acpi/
ExecStart=/bin/bash /opt/acpi/acpi.sh
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target

