[Unit]
Description=ACPI Mode Detection Service

[Service]
User=root
WorkingDirectory=/var/run/acpi/
ExecStart=/bin/bash /var/run/acpi/acpi.sh
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target

